<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone contacts you!</h1>
    <p>
      Name: <%= @contact.name %>.<br>
    </p>
    <p>Email: <%= @contact.email %></p>
    <p>Phone: <%= @contact.phone %></p>
    <p>Message: <%= @contact.message %></p>
  </body>
</html>
